[Unit]
Description=EMLMS Celery worker
After=network.target redis.service

[Service]
Type=forking
User=www-data
Group=www-data
WorkingDirectory=/var/www/emlms
Environment="DJANGO_SETTINGS_MODULE=emlms.settings.production"
EnvironmentFile=/var/www/emlms/.env
ExecStart=/var/www/emlms/venv/bin/celery \
          -A emlms \
          multi start worker1 \
          --concurrency=4 \
          --loglevel=info \
          --logfile=/var/log/emlms/celery_worker.log \
          --pidfile=/var/run/emlms/celery_worker.pid
ExecStop=/var/www/emlms/venv/bin/celery \
         multi stopwait worker1 \
         --pidfile=/var/run/emlms/celery_worker.pid
ExecReload=/var/www/emlms/venv/bin/celery \
           multi restart worker1 \
           --pidfile=/var/run/emlms/celery_worker.pid \
           --logfile=/var/log/emlms/celery_worker.log \
           --loglevel=info
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
